body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  .category-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  label {
    margin-right: 10px;
    font-size: 16px;
  }
  select {
    padding: 10px;
    font-size: 16px;
  }
  .product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  .product img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 15px;
  }
  .product h2 {
    margin-top: 0;
    font-size: 1.5em;
  }
  @media (max-width: 600px) {
    .product {
      padding: 8px;
    }
    .product img {
      max-width: 80px;
    }
    .product h2 {
      font-size: 1.2em;
    }
    .product p {
      font-size: 0.9em;
    }
  }
  